*.o
*.obj
*.exe
bin/
build/
main
train_hyperSE
forpy
export_config

*.dSYM/
.DS_Store
Thumbs.db
*:Zone.Identifier

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

in.txt
result/records/*.txt
result/error/*.csv
result/output/*
!result/output/HyperSE_output.txt

!result/hyper_sequences/
!result/images/
!result/csv/
!result/md/
